%head
  %title MovieLovers
  %link{:href => "style.css", :rel => "stylesheet", :type => "text/css"}/
%body
  .container
    %header
      %h1
        MovieLovers

    %p
      Which movie was released in
      %strong#year==#{@rand_year}
      ?


    %ul
    - @@list.with_posters.each do |i|
      %li
        %h3== #{i[:title]}
        %p== #{i[:year]}
        %img{:class => "button", :id => "#{i[:year]}", :src => "#{i[:poster]}", :width => "100px"}
        %a{:class => "button", :id => "#{i[:year]}", :href => "#"}This one


    :javascript
      var buttons = document.getElementsByClassName('button');
      for(var i = 0; i < buttons.length; i++){
      	buttons[i].addEventListener("click", function(){
      		var this_button = this.id;
      		if(this_button == document.getElementById("year").innerText){
      			alert('YAY!')
      		} else {
            alert("Nope...")
          }
      	});
      }
